body {
  background-image: url("kantorgubernur.jpeg");
  color: white;
  text-align: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

p{
    margin: 0;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.hero1 {
    font-size: 3rem;
    font-weight: 800;
  
    margin-bottom: 20px;
}
.hero {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
}

.detail{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.zoom {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;   
}

button{
    background-color: #7D0A0A;
    padding: 4px 8px 4px 8px;   
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    color: white;
    font-weight: 800;
    border-radius: 10px;
    border-style: none ;
    margin-top: 10px;
}
button:hover{
    background-color: #d0bcbc;
    cursor: pointer;
}

.akses {
    margin-bottom: 20px;
    margin-top: 20px;
}
